.aside .navigation-link.active {
	background-color: #397b60 !important;
}

.aside .navigation-link:hover {
	background-color: #397b60 !important;
}

.aside .navigation-link[aria-expanded='true'] {
	background-color: #397b60 !important;
}

.aside:not(.open):hover {
	background-color: #397b60 !important;
	opacity: 0.8 !important;
}

.brand-aside-toggle:hover {
	background-color: #00633a !important;
}

.user {
	background-color: #397b60 !important;
}

.user-sub-title {
	color: #ffffff;
}

.places-container {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: 300px;
}

.map-container {
	width: 100%;
	height: 100vh;
}

.combobox-input {
	width: 100%;
	padding: 0.5rem;
}

.review-account {
	h4,
	a {
		font-size: 14px;
		font-style: italic;
		color: #8f42d7;
	}
}
