.button-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	width: 100%;
}
.primary-button {
	background-color: white;
	border: 1px solid #b496d0;
	border-radius: 2rem;
	padding: 5px 10px;
	margin-right: 10px;
	height: 34.5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.primary-button.active {
	background-color: #b496d0;
	border: 1px solid #f0f0f0;
	color: white;
}
.primary-button:hover {
	background-color: #b3a2c3;
}
.filter-button {
	background-color: white;
	border: 1px solid rgb(76, 158, 124);
	border-radius: 2rem;
	padding: 5px 10px;
	margin-right: 10px;
	height: 34.5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.filter-button.active {
	background-color: rgb(76, 158, 124);
	border: 1px solid rgb(76, 158, 124);
	color: white;
}
.filter-button:hover {
	background-color: rgb(105, 153, 133);
}
.pending-button {
	background-color: white;
	border: 1px solid #ffcf53;
	border-radius: 2rem;
	padding: 5px 10px;
	height: 34.5px;
	margin-right: 10px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.pending-button.active {
	background-color: #ffcf53;
	border: 1px solid #ffcf53;
	color: black;
}
.pending-button:hover {
	background-color: #ead090;
}
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.table-loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}
.empty-table-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hash-loader-container {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
}
.td-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	max-width: 100%;
}

.count-card {
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
	display: flex;
	align-items: center;
	text-align: center;
}

.count-name {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 8px;
}

.count-container {
	display: flex;
	align-items: center;
}

.count-number {
	font-size: 36px;
	font-weight: bold;
	color: #333333;
}

.count-plus {
	font-size: 24px;
	font-weight: bold;
	color: #666666;
	margin-left: 4px;
}
.user-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #4c9e7c;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 20px;
}

.initials {
	font-weight: bold;
}
/* styles.css (or your preferred CSS file) */
.dark-mode-label::after{
	content: '';
	background-color:  rgba(231, 238, 248, 0.3) !important;

	color: #CCCCCC;
	
  }
  .header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
 
  
  
  
  
  